
<h2 class="my-5">Aggiungi una nuova nota</h2>
<form  action="aggiungi_nota" method="post">
  <div class="form-group">
    <label for="title">Titolo</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label for="body">Descizione</label>
    <textarea class="form-control" name="body"></textarea>
  </div>
  <button type="submit" class="btn btn-success" name="add">Invia</button>

</form>
